.delete-top {
    display: block;
    margin: 0 0 20px auto;
    padding: 20px;
}

small {
    display: block;
}

.recipe-edit textarea {
    min-height: 90px;
    resize: vertical;
}

.recipe-edit__ingredients {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
}

@media only screen and (min-width: 768px) {
    .recipe-edit {
        position: sticky;
        top: 20px;
    }
}